extends layout

block content
  main
    div title=#{title}
    table
      each f in fixtures
        tr
          th #{f.formattedDate}
          td #{f.description}
          td #{f.homeTeam}
          td
            a(href=`/fixtures/${f.fixtureId}`) #{f.homeScore} - #{f.awayScore}
          td #{f.awayTeam}